<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cosmic Code Editor</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/static/styles.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/monokai.min.css"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/python/python.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/javascript/javascript.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/go/go.min.js"></script>
    </head>
    <body
        class="bg-gradient-to-r from-purple-900 to-indigo-900 text-white min-h-screen flex flex-col"
    >
        <header class="p-4 flex justify-between items-center">
            <h1 class="text-2xl font-bold">GOID</h1>
            <button
                hx-get="/"
                hx-target="body"
                hx-swap="innerHTML"
                class="cosmic-btn"
            >
                Back to Home
            </button>
        </header>
        <main class="flex-grow flex">
            <div class="w-2/3 p-4">
                <textarea
                    id="editor"
                    class="w-full h-full p-5 text-black"
                ></textarea>
            </div>
            <div class="w-1/3 p-4 flex flex-col">
                <div
                    id="output"
                    class="bg-black bg-opacity-50 p-4 rounded-lg mb-4 flex-grow overflow-auto"
                >
                    <p class="text-green-400">// Output will appear here :</p>
                </div>
                <button id="runCode" class="cosmic-btn">Run Code</button>
            </div>
        </main>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const editor = CodeMirror.fromTextArea(
                    document.getElementById("editor"),
                    {
                        lineNumbers: true,
                        theme: "monokai",
                        mode:
                            localStorage.getItem("selectedLanguage") ||
                            "python",
                    },
                );

                document
                    .getElementById("runCode")
                    .addEventListener("click", () => {
                        console.log("Btn clicked");
                        const code = editor.getValue();
                        const language =
                            localStorage.getItem("selectedLanguage") ||
                            "python";
                        htmx.ajax("POST", "/run", {
                            target: "#output",
                            swap: "innerHTML",
                            values: { code: code, language: language },
                        });
                    });
            });
        </script>
    </body>
</html>
